@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter','sans-serif';
}

.glow{
    box-shadow: 0 0 20px rgba(147,51,234,0.5);
}

.gradient-text {
    background: linear-gradient(to right, #8b5cf6, #ec4899);
    -webkit-background-clip: text;
    color: transparent;
}
